swagger: "2.0"
info:
  title: WattPilot API
  version: "0.1"
  description: API to configure and monitor WattPilot
consumes:
  - application/json
produces:
  - application/json
basePath: "/v1"
paths:
  /state:
    get:
      operationId: "wattpilot.app.WattPilotApp.get_current_state"
      summary: Get the current state
      responses:
        200:
          description: Returns the current state
          schema:
            $ref: "#/definitions/State"
    post:
      operationId: "wattpilot.app.WattPilotApp.set_current_state"
      summary: Set the current state
      parameters:
        - in: "body"
          name: "state"
          description: "Value for the state"
          required: true
          schema:
            $ref: "#/definitions/State"
      responses:
        405:
          description: "Invalid state"
        406:
          description: "Unable to change state"
  /schedule/trigger:
    get:
      operationId: "wattpilot.app.WattPilotApp.get_schedule_trigger"
      summary: Get the schedule trigger
      responses:
        200:
          description: Returns the trigger state
          schema:
            $ref: "#/definitions/Trigger"
    post:
      operationId: "wattpilot.app.WattPilotApp.set_schedule_trigger"
      summary: Set/unset the schedule trigger
      parameters:
        - in: "body"
          name: "trigger"
          description: "Value for the next schedule trigger"
          required: true
          schema:
            $ref: "#/definitions/Trigger"
      responses:
        405:
          description: "Invalid input"
  /weather:
    get:
      operationId: "wattpilot.app.WattPilotApp.get_weather_forecast"
      summary: Get the current weather forecast
      responses:
        200:
          description: Returns the weather forecast
          schema:
            $ref: "#/definitions/Weather"
  /loads:
    get:
      operationId: "wattpilot.app.WattPilotApp.get_loads"
      summary: Get the current load states
      responses:
        200:
          description: Returns the load states
          schema:
            $ref: "#/definitions/Loads"

definitions:
  Load:
    type: object
    required:
      - pin
      - state
    properties:
      pin:
        type: integer
      state:
        type: boolean
  Loads:
    type: array
    items:
      $ref: "#/definitions/Load"
  Weather:
    type: object
    required:
      - cloudiness
      - will_run
      - timestamp
    properties:
      cloudiness:
        type: integer
      will_run:
        type: boolean
      timestamp:
        type: string
        format: date-time
  Trigger:
    type: object
    required:
      - trigger
    properties:
      trigger:
        type: "boolean"
  State:
    type: object
    required:
      - state
    properties:
      state:
        type: "string"
        enum:
          - "halt"
          - "idle"
          - "force"
